

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:ital,wght@0,400;0,800;1,700&family=Poppins:wght@500;600;700&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');


*{


  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Work Sans', sans-serif;

}

nav{
padding: 50px 230px;

}



.btn-pic{

width: 30px;


}


.nav-title{
display: flex;
justify-content: space-between;


}

.nav-dis{
display: flex;
gap: 20px;


}

.nav-description{

  display: flex;

gap: 25px;

}

.nav-description a{
text-decoration: none;
font-size: 15px;
font-weight: 500;
padding-top: 35px;


}


.nav-button{

border: none;

padding: 20px ;
border-radius: 10px;
}

.nav-heading{

font-size: 700;

}

.banner-section{
padding: 40px 230px;

display: flex;
justify-content: space-between;

}

.banner-pic{

width: 450px;

padding-left: 50px;
}

.banner-title{

font-size: 48px;

font-weight: 600;

}


.banner-discription{

font-size: 90px;
font-size: 800;
color: pink;

}


.banner-1{

font-size: 16px;

font-weight: 500;
color: #534C64;



}


.btn-1 ,.btn-2{

padding: 21px 40px;
border: none;
border-radius: 15px;
font-size: 16px;
color: aliceblue;
}

.btn-1{
background-color:pink ;


}

.btn-2{

background-color:#4EC5F7; 


}















.banner-headlin{

background-color: rgba(140, 87, 238, 0.05), rgba(241, 68, 174, 0.05);

}



.online-item{

text-align: center;


padding-top: 110px;
}


.online-title{

font-size: 40px;


font-weight: 700;




}


.online-sam{

color: pink;


}


.online-dis{

color:#534C64 ;
font-size: 12px;




}


.img-12{

width: 200px;



}


.img-section{

display: flex;

justify-content: center;

gap: 50px;



}

.play-section{

display: flex;
justify-content: center;

padding-top: 50px;

gap: 120px;

padding-right: 50px;
}



.play-discription{

text-align: right;
 

padding-top:120px ;
}


.feature-img-2{

position: relative;

bottom: 210px;

right: 70px;
}



.feature-img-0{

width: 550px;




}


.feature-img-3{

width:250px ;




}














@media screen and (max-width:446px){



  .banner-section{

    flex-direction:column-reverse;
    
    
    
    





}




}











